<div class="row">
  <div class="span9">
    <div id="graph"></div>
  </div>
  <div class="span3" id="sidebar">
    <div id="info_panel"></div>
    <p><input type="checkbox" id="hide_stories" /> Hide story stages</p>
    <p>Currently showing story: <select id="story_select"><%= 
        grouped_options_for_select(
          [["All", ["All"]]] + Service.all.collect { |service|
            [service.name, service.stories.collect { |story| [story.name, story.id] } ]
          }, params[:story_id]
        ) %>
      </select>
    </p>
    <% if @story %>
      <div id="story_panel">
        <% if @story.replaces_story %>
          <p>Replaces <%= link_to @story.replaces_story.name, service_story_path(@story.replaces_story.service, @story.replaces_story) %></p>
        <% end %>
       <ol>
          <% @story.story_stages.ordered.each do |story_stage| %>
            <li id="story_stage_<%= story_stage.id %>_desc" class="story_stage_desc"><%= story_stage.description %></li>
          <% end %>
        </ol>
      </div>
    <% end %>
  </div>
</div>