<h1>Welcome to Digital Services Mapper</h1>

<h2>About</h2>

<p>This tool attempts to gather, store and explain how the Ministry of Justice meets user needs. It does this by connecting user transactions to the systems used.</p>

<p>By doing this we aim to help product teams understand the landscape around the procuts they are creating, replacing and intefrating with.

<h2>So what is a Transaction?</h2>

<p>A transcation is a user story written at an architectural level. It must:</p>

<ul>
  <li>be triggered by a single event</li>
  <li>take only one path through our systems</li>
</ul>

<p><%= link_to "Let's get started...", stories_path %></p>

<h2>Case Study</h2>

<p>If you would like to see how the Civil Claims team found mapping useful for their discovery research, read the blog post <a href="https://mojdigital.blog.gov.uk/2014/06/19/mapping-services-for-the-ministry-of-justice/">Mapping service for the Ministry of Justice</a></p>