<% breadcrumb :story_stages, @story %>

<div class="page-header">
  <h1>New Transaction Stage</h1>
</div>
<p>This will be stage <%= @story.story_stages.count + 1 %>.</p>
<%= render :partial => 'form' %>
