<div class="page-header">
  <h1>Systems</h1>
</div>

<ul>
  <% @systems.each do |system| %>
    <li>
      <%= link_to system.name, system_path(system) %>: 
      <%= link_to "Edit", edit_system_path(system) %>
    </li>
  <% end %>
</ul>

<%= link_to "New system", new_system_path %>
