#graph {
  border:1px solid #777;
}

.story_select {

  form {
    position:absolute;
    background-color: white;
    border: 1px solid #777;
    padding:5px;
    width:260px;
  }
}

#story_panels {
  max-height:450px;
  overflow: scroll;
  .story_panel {
    li {
      padding:1px 0;
    }

    li:hover {
      padding:0 0;
      background-color:#eee;
      border:1px solid #f77;
      border-left: none;
      border-right:none;
      cursor: default;
    }
  }
}

#info_panel {
  border:1px solid #777;
  margin-bottom: 1em;
}

#info_panel h2, #info_panel .actions {
  background-color: #777;
  margin:0 0 10px;
  padding: 5px;
  font-size:1.2em;
  line-height: normal;
}

#info_panel .actions {
  margin: 0;
  font-size:1em;
  text-align:right;
}

#info_panel h2 a, #info_panel .actions a {
  color:#fff;  
}

.info_panel_contents {
  margin: 5px;
}

.node.fixed circle.node_circle{
  stroke: red;
}

marker#story_stage {
  fill: black;
}

marker#story_stage_hilighted {
  fill: red;
}

line.story_stage {
  stroke-width: 2px;
  stroke: black;
}

.system circle {
  fill: blue;
}

.Staff circle {
  fill: black;
}

.Citizen circle {
  fill: green;
}

.Profesional circle {
  fill: yellow;
}

circle.current_node {
  fill: gray;
}