.transactions
  li
    position: relative
  span
    display: inline-block
    padding: 1em 0
  .name
    width: 48%
    padding: 1%
  .groups
    width: 30%
  .stages
    width: 15%
  .status
    position: absolute
    padding: 0
    top: 0
    left: 0
    padding: 0.2em
    font-size: 0.4em