// Place all the styles related to the story_stages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.page_edit
  float: right

form
  .existing_system, .new_system
    background-color: rgb(223, 224, 226)
    margin: 1em 0
    padding: 1em
    position: relative

    .new_existing_selector

    .system_basic_info

    .system_detailed_info
      background-color: white
      padding: 1em
      margin-top: 1em

    .edit_details_link
      position: absolute
      right: 1em
      top: 1em

ol.transaction_stages_sort
  list-style: decimal
  margin-left: 2em

ol.transaction_stages
  li
    position: relative
    background-color: rgb(248, 248, 248)
    margin: 69px 0
    border: 1px solid rgb(229, 229, 230)
    border-width: 1px 0
    span
      display: inline-block
      vertical-align: middle
      padding: 0.5em 0

    .position
      font-size: 2em
      font-weight: bold
      color: rgb(103, 113, 115)
      width: 6%
      text-align: center

    .description
      padding-right: 3%
      width: 40%

    .from_to
      width: 35%
      img
        vertical-align: middle
      .from, .to
        z-index: 50
        width: 100%
        position: absolute
        background-repeat: no-repeat
        background-size: 50px
        padding-left: 5px
      .from
        top: -59px
        background-image: url('/icons/stage-box-top.png')
        background-position: left bottom
      .from_previous
        top: -39px
        height: 20px
        z-index: 20
      .payload
        background-image: url('/icons/stage-arrow.png')
        background-size: 16px 80px
        background-repeat: no-repeat
        background-position: 16px bottom
        width: 100%
        padding: 10px 5px
        height: 60px
      .to
        bottom: -59px
        background-image: url('/icons/stage-box-bottom.png')
        background-position: left top


    .edit
      float: right
      padding: 0.5em 

    &.unlinked
      margin-top: 140px
