<p>Welcome <%= @email %></p>

<p>Before you can start using Archipelago you need to <%= link_to 'confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>

<p>To get started, understand the principles of using Archipelago or learn how to create your own stories, take a look at the user guide available from the help menu.</p>

<p>If you are having trouble accessing your account, want to add a new user or have another question or suggestion please contact daniel.ivatt@digital.justice.gov.uk</p>