<% content_for :stylesheets do %>
  <%= stylesheet_link_tag("application", media: "all") %>
<% end %>


<% content_for :before_content do %>
  <div id="global-breadcrumb" class="clearfix">
    <nav>
      <%= breadcrumbs :style => :ol %>
    </nav>
  </div>
  <% if notice.present? %>
    <p><%= notice %></p>
  <% end %>
<% end %>

<%= render template: "layouts/moj_template" %>
